<div ui-content-for="title">
  <span>Processes</span>
</div>

<div ng-controller="ProcessesController" class="scrollable" ng-init="detailsOverlay = false">
    <div ui-state="displayOverlay" class="scrollable-content">
        <div class="section" ui-state="displayOverlayTask">
            <div class="scrollable" >
                
                <input
                    ng-model="query"
                    type="search"
                    class="form-control scrollable-header"
                    placeholder="Search By Name" />

                <div class="scrollable-content" ui-scroll-bottom='bottomReached()' >
                    
                    <div class="list-group" >
                        <a ng-repeat="process in processes | filter:{'displayName':query}" href="" class="list-group-item" ng-click="Ui.set('displayOverlayTask', process); Ui.turnOn('displayOverlay');">
                            {{ process.displayName }} | {{process.deploymentDate | simpleDate}} <i class="fa fa-chevron-right pull-right"></i>
                            
                        </a>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    <div ui-content-for="modals" >
        <div ng-include="'content/tasks/details-overlay.html'"></div>
    </div>
</div>

